$smallFont: 10pt;
$fontH1: 18pt;
$colorPrimary: #8ad;


body, td {
	font-family: Helvetica Neue, Helvetica;
	font-weight: lighter;
    border-color: black;
    border-style: none;
    border-width: 0px;

    &.scheme-nocturn {
        color: #ddd;
        border-color: white;
    }
}

a, .a {
    text-decoration: none;
    color: $colorPrimary;
    cursor: pointer;
}

body {
    position:relative;
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    z-index: 1;
}





#overlay {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

.dim {
    opacity:0.3;
}

.active {
    color:blue;
    opacity:1;
}






// The stylish image drawn in the background
.background-img {
    position: fixed;
    right:0;
    bottom:0;
    z-index:-1;

    .gradient {
        position:absolute;
        width:100%;
        height:100%;
    }
}






.timeline {
	$entrySpacing: 120px;

    position: relative;
    width: 200px;
    height: $entrySpacing;

    border-right-width: 1px;
    border-right-style: solid;

    &.first {
        $topOffset: 80px;

        // use of margin-top causes the #backdrop to be offest from the top of the window
        // use of padding-top causes the box to be too long
        top: $topOffset; 
        margin-bottom: $topOffset;
    }

    &.last {
        height:600px;
    }

    /* shrink the timeline entries together */
    &.collapse {
    	height: ($entrySpacing - 50px);
    }

    .top {
        $width: 100px;
        $borderWidth: 1px; 
        $height: 40px;   
                    
        width: $width - 2*$borderWidth;
        height: $height;
        position: absolute;
        bottom: 100%;
        right: -($width/2);

        border-width: $borderWidth;
        border-style: solid;

        .category-menu {
            position:absolute;
            top:0;
            left:0;
            height: $height;
            width:800px;
            overflow: hidden;

            .scrolling {
                margin-left: 0;

                .menu-category {
                    width: $width;
                    text-align: center;
                    line-height: $height;
                    display:inline-block;
                    cursor: pointer;
                    margin:0px;
                    padding:0px;
                }
            }
        }
    }
}

$horLineWidth: 30px;
$entryTitleHeight: 60px;

.timeline-entry {
    position: relative;
    width: 200px;
    
     > div {
        $dotSize: 10px;
    
        position:relative;
        left: 100%;
        width: $dotSize;
        margin-left: -($dotSize/2);
        height: $dotSize;
        border-width: 1px;
        border-style: solid;

        -webkit-border-radius: $dotSize/2;

        .date {
            $dateHeight: 20px; /* large enough to hold text */
    
            position:absolute;
            width: 100px;
            height: $dateHeight;
            top: -($dateHeight - $dotSize)/2;
            line-height: $dateHeight;
            vertical-align: middle;
            padding: 0px 5px;
            font-size: $smallFont;
        }

        .line {
            position: absolute;
            top:50%;
            width: $horLineWidth;
            height: 10px;
            border-top-width: 1px;
            border-top-style: solid;
            
            .icon {
                $imgSize: 100px;                
                position: absolute;
                width: $imgSize;
                height: $imgSize;       
                margin-top: -($imgSize/2);

                img {
                	width:100%;
                	height:100%;
                    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
                }

                .pre-entry {
                	position: absolute;
                	bottom: 70px;
                	left: 100%;
                	height: $entryTitleHeight;

                	.entry-details {
                		/* see below */
                	}
                }

                .pre-entry,
                .entry-details .title > div {
                    border-bottom-width: 1px;
                    border-bottom-style: dashed;
                    border-color: $colorPrimary;
                }
            }
        }
    }

    &.right > div {
        .date {
            right: 100%;
            text-align: right;        
        }
        .line {
            left:100%;
    
            .icon {
                left: 100%;

                .pre-entry {
                	width:50px;
                }
            }        
        }
    }

    &.left > div {
        .date {
            left: 100%;
            text-align: left;
        }
        .line {
            right:100%;
            margin-left: -$horLineWidth;
    
            .icon {
                right: 100%;

                .pre-entry {
                	width:200px;
                }
            }        
        }
    }
}

$entryWidth: 600px;

.entry-details {
	width: $entryWidth;
	position:absolute;
	left:100%;
	top:1px;

	.title {
		margin-left:2px; /* to make the dashed title lines look good*/
    	height: $entryTitleHeight;
	}

	.title > div {
		font-size: $fontH1;
		padding-right: 20px;
		max-width: $entryWidth;
	}

    .content {
        padding-left:30px;
    }
}


