---
layout: base
hide-backdrop: true
---

<div class="timeline first">
    <div class="top">
    	<div class="category-menu">
    		<div class="scrolling"><!-- 
		    	 --><div class="menu-category" data-category="all">All</div><!-- 
		    	 --><div class="menu-category" data-category="highlights">Highlights</div><!-- 
		    	 --><div class="menu-category" data-category="projects">Projects</div><!-- 
		    	 --><div class="menu-category" data-category="downloads">Downloads</div><!-- 
		    	 --><div class="menu-category" data-category="videos">Videos</div><!-- 
		    	 --><div class="menu-category" data-category="publications">Publications</div><!-- 
		    --></div>
	    </div>
    </div>
</div>


{% for c in site.posts %}

	{% comment %} This makes the assumption that the name follows this format: '/name/index.html' {% endcomment %}
	{% assign contentName = c.url | remove:'/index.html' | remove:'/' %}

	{% comment %} Seems weird to need to do this (below), but I couldn't get it to work without using a variable {% endcomment %}
	{% assign isLeft = forloop.index | modulo:2 %}
<div class="timeline-entry {% if isLeft == 1 %}left{% endif %}{% if isLeft == 0 %}right{% endif %}">
	<div>
	    <div class="date">{{ c.date | date: "%d %b '%y" }}</div>
	    <div class="line">
	    	<div class="icon">
	        	<img class="dimable" src="img/{{ contentName }}_icon.png" {% if c.color %}style="background-color:#{{ c.color }};" {% endif %} />
	        	<div class="pre-entry hidable">
	        		<div class="entry-details">
	        			<div class="title bottom-aligned"><div>
	        				<a href="/{{ contentName }}/" class="ajax">{{ c.title }}</a>
	        			</div></div>
	        			<div class="content"></div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>

<div class="timeline collapse"></div>
{% endfor %}

<div class="timeline last"></div>
