---
layout: base
---

<div class="timeline first">
    <div class="top"></div>
</div>


{% for c in site.posts %}
{% assign isLeft = forloop.index | modulo:2 %}

<div class="timeline-dot {% if isLeft == 1 %}left{% endif %}{% if isLeft == 0 %}right{% endif %}">
	<div>
	    <div class="date">{{ c.date | date: "%d %b '%y" }}</div>
	    <div class="line">
	    	<div class="icon">
	        	<img src="img{{ c.url | remove:'/index.html' }}_icon.png" {% if c.color %}style="background-color:#{{ c.color }};" {% endif %} />
	        	<div class="pre-title">
	        		<div class="entry-details">
	        			<div class="title bottom-aligned"><div>{{ c.title }}</div></div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>

<div class="timeline collapse"></div>
{% endfor %}
