<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
  	<title> {% if page.title %} {{ page.title }} | {% endif %} TorbenSko.com </title>
    <link rel="stylesheet" href="/css/generic.css" />
  	<link rel="stylesheet" href="/css/main.css" />
  </head>

  <body {% if page.scheme %}class="scheme-{{ page.scheme }}"{% endif %} {% if page.color %}style="background-color: rgb({{page.color}});"{% endif %}><div id="ajaxFrame"> <!-- required for the AJAX stuff (can't pull out part of the page without this it seems) -->

    <div id="overlay"></div>

    {% comment %} This makes the assumption that the name follows this format: '/name/index.html' {% endcomment %}
    {% capture contentName %}{{ page.url | remove:'/index.html' | remove:'/' }}{% endcapture %}
    {% assign gradient-alpha = 0.4 %}
    {% if page.gradient-alpha > 0 %}
      {% assign gradient-alpha = page.gradient-alpha %}
    {% endif %}

    <div id="background-container">
      <div class="background-img" {% if page.scheme %}data-scheme="scheme-{{ page.scheme }}"{% endif %} {% if page.color %}style="background-color: rgb({{page.color}});"{% endif %}>
{% if contentName != "" %}
          <!-- vertical gradient -->
          <div class="gradient" style="
background: -moz-linear-gradient(top,  rgba({{ page.color }},1) 0%, rgba({{ page.color }}, {{ gradient-alpha }}) 30%, rgba({{ page.color }}, {{ gradient-alpha }}) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba({{ page.color }},1)), color-stop(30%,rgba({{ page.color }}, {{ gradient-alpha }})), color-stop(100%,rgba({{ page.color }}, {{ gradient-alpha }})));
background: -webkit-linear-gradient(top,  rgba({{ page.color }},1) 0%,rgba({{ page.color }}, {{ gradient-alpha }}) 30%,rgba({{ page.color }}, {{ gradient-alpha }}) 100%);
background: -o-linear-gradient(top,  rgba({{ page.color }},1) 0%,rgba({{ page.color }}, {{ gradient-alpha }}) 30%,rgba({{ page.color }}, {{ gradient-alpha }}) 100%);
background: -ms-linear-gradient(top,  rgba({{ page.color }},1) 0%,rgba({{ page.color }}, {{ gradient-alpha }}) 30%,rgba({{ page.color }}, {{ gradient-alpha }}) 100%);
background: linear-gradient(to bottom,  rgba({{ page.color }},1) 0%,rgba({{ page.color }}, {{ gradient-alpha }}) 30%,rgba({{ page.color }}, {{ gradient-alpha }}) 100%);"></div>
          <!-- horizontal gradient -->
          <div class="gradient" style="
background: -moz-linear-gradient(left,  rgba({{ page.color }},1) 0%, rgba({{ page.color }}, {{ gradient-alpha }}) 30%, rgba({{ page.color }}, {{ gradient-alpha }}) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba({{ page.color }},1)), color-stop(30%,rgba({{ page.color }}, {{ gradient-alpha }})), color-stop(100%,rgba({{ page.color }}, {{ gradient-alpha }})));
background: -webkit-linear-gradient(left,  rgba({{ page.color }},1) 0%,rgba({{ page.color }}, {{ gradient-alpha }}) 30%,rgba({{ page.color }}, {{ gradient-alpha }}) 100%);
background: -o-linear-gradient(left,  rgba({{ page.color }},1) 0%,rgba({{ page.color }}, {{ gradient-alpha }}) 30%,rgba({{ page.color }}, {{ gradient-alpha }}) 100%);
background: -ms-linear-gradient(left,  rgba({{ page.color }},1) 0%,rgba({{ page.color }}, {{ gradient-alpha }}) 30%,rgba({{ page.color }}, {{ gradient-alpha }}) 100%);
background: linear-gradient(to right,  rgba({{ page.color }},1) 0%,rgba({{ page.color }}, {{ gradient-alpha }}) 30%,rgba({{ page.color }}, {{ gradient-alpha }}) 100%);"></div>

          <img src="/img/{{ contentName }}_bg.jpg" />
{% endif %}
      </div>
    </div>

    {{ content }}

    <script src="/js/vendor/jquery-1.8.3.min.js"></script>
    <script src="/js/vendor/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/js/util.js"></script>
  	<script src="/js/main.js"></script>

  </div></body>
</html>
