<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
  	<title> {% if page.title %} {{ page.title }} | {% endif %} TorbenSko.com </title>
    <link rel="stylesheet" href="css/generic.css" />
  	<link rel="stylesheet" href="css/main.css" />
  	<script src="/js/vendor/jquery-1.8.3.min.js"></script>
    <script src="/js/vendor/jquery-ui-1.9.2.custom.min.js"></script>
  </head>

  <body>
    <div id="overlay" {% if page.hide-backdrop %}style="display:none;"{% endif %}></div>
    {{ content }}

  	<script src="/js/main.js"></script>
  </body>
</html>
